/* portal v1.0 */
@charset "utf-8";
/* lib v2.0 */
html {
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0px;
  padding: 0px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-align: inherit;
}
fieldset,
img {
  border: none;
}
iframe {
  display: block;
}
abbr,
acronym {
  border: none;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul,
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ins,
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.clear {
  zoom: 1;
  /* for IE6 IE7 */
}
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.d-n {
  display: none;
}
.h-00 {
  height: 100%;
}
/* css3 v1.0 */
html {
  height: 100%;
}
body {
  height: 100%;
  font-size: 12px;
  line-height: 1.5em;
  font-family: Arial, '\5FAE\8F6F\96C5\9ED1', 'Microsoft YaHei', SimSun;
  color: #333439;
  background-image: url('../images/portal//bg-party.jpg');
  background-repeat: center center;
  background-size: 100%;
}
a,
input,
button,
textarea,
select {
  font-size: 12px;
  line-height: 1.5em;
  font-family: Arial, '\5FAE\8F6F\96C5\9ED1', 'Microsoft YaHei', SimSun;
  color: #333;
}
a,
a:hover {
  background: none;
  text-decoration: none;
}
.organization-chart {
  position: absolute;
  margin: -210px 0px 0px -400px;
  top: 50%;
  left: 50%;
  text-align: center;
}
.organization-chart img {
  width: 800px;
  height: 390px;
}
.organization-member {
  margin: 0px auto;
  width: 1000px;
  padding: 30px 0px 50px 0px;
}
.organization-member h1 {
  text-align: center;
  color: #000;
  font-size: 30px;
  line-height: 50px;
}
.organization-member .member-list td {
  padding: 10px 0px 15px 0px;
  text-align: center;
}
.organization-member .member-list td img {
  width: 150px;
  height: 185px;
  border: solid 2px #fff;
}
.organization-member .member-list td cite {
  display: inline-block;
  width: 140px;
  height: 24px;
  line-height: 24px;
  background-color: #C00000;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.organization-sub {
  margin: 0px auto;
  width: 1000px;
  padding: 30px 0px 50px 0px;
}
.organization-sub h1 {
  padding-bottom: 20px;
  text-align: left;
  color: #000;
  font-size: 32px;
  line-height: 50px;
}
.organization-sub h2 {
  text-align: left;
  color: #000;
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
}
.organization-sub h2 b {
  font-weight: 700;
}
.organization-sub .sub-list {
  margin-top: 30px;
  font-size: 16px;
  border-collapse: collapse;
  border: solid 1px #000;
}
.organization-sub .sub-list thead th {
  padding-left: 5px;
  height: 30px;
  color: #000;
  font-weight: 700;
  border: solid 1px #000;
}
.organization-sub .sub-list tbody td {
  padding-left: 5px;
  height: 26px;
  font-size: 14px;
  border: solid 1px #000;
}
