<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="..\../style/t.css" />
<!--[if gte IE 8]><link rel="stylesheet" href="..\../style/ie8.css" /><![endif]-->
</head>
<body>
    <div class="demo">
        <table class="form-grid form-grid-col3">
            <tr>
                <th>
                    xxxx：
                </th>
                <td>
                    <div class="data-list-input">
                        <span data-role="value">selector</span>
                        <!-- <input type="text" class="text" data-role="value"> -->
                        <input type="text" class="text" data-role="key">
                        <ul class="data-list">
                            <li data-key="value1" data-value="value 1">value 1</li>
                            <li data-key="value2" data-value="value 2">value 2</li>
                            <li data-key="value3" data-value="value 3">value 3</li>
                            <li data-key="value4" data-value="value 4">value 4</li>
                            <li data-key="value5" data-value="value 5">value 5</li>
                            <li data-key="value6" data-value="value 6">value 6</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    xxxx：
                </th>
                <td>
                    <div class="data-list-input">
                        <input type="text" class="text" data-role="value">
                        <input type="text" class="text" data-role="key">
                        <ul class="data-list">
                            <li data-key="value1" data-value="value 1">value 1</li>
                            <li data-key="value2" data-value="value 2">value 2</li>
                            <li data-key="value3" data-value="value 3">value 3</li>
                            <li data-key="value4" data-value="value 4">value 4</li>
                            <li data-key="value5" data-value="value 5">value 5</li>
                            <li data-key="value6" data-value="value 6">value 6</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
<script src="..\../script/require.js" data-main="..\../script/t.js"></script>

<script>
    
    function requireReady()
    {
        
    }
</script>
</html>