<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="..\../style/t.css" />
<!--[if gte IE 8]><link rel="stylesheet" href="..\../style/ie8.css" /><![endif]-->
</head>
<body>
    <div class="demo">

        <h2>折叠 :</h2>
        <code>
            <h3 class="fold-hd" >
                <a href="javascript:;" class="hd-icon-text">基本信息</a>
            </h3>
            <div class="fold-cnt">
                折叠组件，引入所需文件，拷贝以下代码即可
            </div>
            <s>点击 class 为 "fold-hd" 的 h3，去寻找 class 为 "fold-cnt" 的元素，进行折叠展开操作</s>
            <div>
                <textarea class="textarea textarea-code textarea-code-120"><h3 class="fold-hd" >
    <a href="javascript:;" class="hd-icon-text">基本信息</a>
</h3>
<div class="fold-cnt">
    折叠组件，引入所需文件，拷贝以下代码即可
</div></textarea>
            </div>
        </code>

        <h2>折叠(默认折叠) :</h2>
        <code>
            <h3 class="fold-hd" data-fold="true" >
                <a href="javascript:;" class="hd-icon-text">基本信息</a>
            </h3>
            <div class="fold-cnt">
                折叠组件，引入所需文件，拷贝以下代码即可
            </div>
            <s>默认是展开的，可以通过 data-fold="true" 设置为默认折叠</s>
            <div>
                <textarea class="textarea textarea-code textarea-code-120"><h3 class="fold-hd" data-fold="true">
    <a href="javascript:;" class="hd-icon-text">基本信息</a>
</h3>
<div class="fold-cnt">
    折叠组件，引入所需文件，拷贝以下代码即可
</div></textarea>
            </div>
        </code>


    
    </div>
</body>
<script src="..\../script/require.js" data-main="..\../script/t.js"></script>

</html>