<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="..\../style/t.css" />
<!--[if gte IE 8]><link rel="stylesheet" href="..\../style/ie8.css" /><![endif]-->
</head>
<body>
    <div class="demo">


        <h2>常用(没有的找我) :</h2>
        <code>
            <div class="p-10">
                <a href="javascript:;" class="icon-new-20" title="新增"></a>
                <a href="javascript:;" class="icon-edit-20" title="编辑"></a>
                <a href="javascript:;" class="icon-selector-20" title="选择"></a>
                <a href="javascript:;" class="icon-delete-20" title="删除"></a>
                <a href="javascript:;" class="icon-table-20" title="表格"></a>
                <a href="javascript:;" class="icon-target-20" title="目标"></a>
                <a href="javascript:;" class="icon-refresh-20" title="刷新"></a>
                <a href="javascript:;" class="icon-calc-20" title="计算"></a>
                <a href="javascript:;" class="icon-save-20" title="保存"></a>
                <a href="javascript:;" class="icon-back-20" title="返回/关闭"></a>
                <a href="javascript:;" class="icon-i-20" title="信息"></a>
                <a href="javascript:;" class="icon-attch-20" title="附件"></a>
                <a href="javascript:;" class="icon-list-20" title="列表"></a>
                <a href="javascript:;" class="icon-sort-20" title="排序"></a>
                <a href="javascript:;" class="icon-copy-20" title="复制"></a>
                <a href="javascript:;" class="icon-law-20" title="法律"></a>
                <a href="javascript:;" class="icon-batch-delete-20" title="批量删除"></a>
                <a href="javascript:;" class="icon-multiple-people-20" title="多选人"></a>
                <a href="javascript:;" class="icon-details-20" title="详细"></a>
                <a href="javascript:;" class="icon-import-20" title="导入"></a>
                <a href="javascript:;" class="icon-error-20" title="错误"></a>
                <a href="javascript:;" class="icon-succeed-20" title="成功"></a>
                <a href="javascript:;" class="icon-trigger-20" title="触发"></a>
                <a href="javascript:;" class="icon-download-20" title="下载"></a>
                <a href="javascript:;" class="icon-people-20" title="人员"></a>
                <a href="javascript:;" class="icon-view-20" title="查看"></a>
                <a href="javascript:;" class="icon-sync-20" title="同步"></a>
                <a href="javascript:;" class="icon-check-20" title="检查"></a>
                <a href="javascript:;" class="icon-excel-20" title="excel"></a>
            </div>
            <div>
                <textarea class="textarea textarea-code textarea-code-120"><a href="javascript:;" class="icon-new-20" title="新增"></a>
<a href="javascript:;" class="icon-edit-20" title="编辑"></a>
<a href="javascript:;" class="icon-selector-20" title="选择"></a>
<a href="javascript:;" class="icon-delete-20" title="删除"></a>
<a href="javascript:;" class="icon-table-20" title="表格"></a>
<a href="javascript:;" class="icon-target-20" title="目标"></a>
<a href="javascript:;" class="icon-refresh-20" title="刷新"></a>
<a href="javascript:;" class="icon-calc-20" title="计算"></a>
<a href="javascript:;" class="icon-save-20" title="保存"></a>
<a href="javascript:;" class="icon-back-20" title="返回/关闭"></a>
<a href="javascript:;" class="icon-i-20" title="信息"></a>
<a href="javascript:;" class="icon-attch-20" title="附件"></a>
<a href="javascript:;" class="icon-list-20" title="列表"></a>
<a href="javascript:;" class="icon-sort-20" title="排序"></a>
<a href="javascript:;" class="icon-copy-20" title="复制"></a>
<a href="javascript:;" class="icon-law-20" title="法律"></a>
<a href="javascript:;" class="icon-batch-delete-20" title="批量删除"></a>
<a href="javascript:;" class="icon-multiple-people-20" title="多选人"></a>
<a href="javascript:;" class="icon-details-20" title="详细"></a>
<a href="javascript:;" class="icon-import-20" title="导入"></a>
<a href="javascript:;" class="icon-error-20" title="错误"></a>
<a href="javascript:;" class="icon-succeed-20" title="成功"></a>
<a href="javascript:;" class="icon-trigger-20" title="触发"></a>
<a href="javascript:;" class="icon-download-20" title="下载"></a>
<a href="javascript:;" class="icon-people-20" title="人员"></a>
<a href="javascript:;" class="icon-view-20" title="查看"></a>
<a href="javascript:;" class="icon-sync-20" title="同步"></a>
<a href="javascript:;" class="icon-check-20" title="检查"></a>
<a href="javascript:;" class="icon-excel-20" title="excel"></a></textarea>
            </div>
        </code>

        <h2>图标右边有文字 :</h2>
        <code>
            <div class="p-10 lh-20">
                <a href="javascript:;"><i class="icon-new-20"></i>新增</a>
                <a href="javascript:;"><i class="icon-edit-20"></i>编辑</a>
                <a href="javascript:;"><i class="icon-selector-20"></i>选择</a>
                <a href="javascript:;"><i class="icon-delete-20"></i>删除</a>
                <a href="javascript:;"><i class="icon-table-20"></i>表格</a>
                <a href="javascript:;"><i class="icon-target-20"></i>目标</a>
                <a href="javascript:;"><i class="icon-refresh-20"></i>刷新</a>
                <a href="javascript:;"><i class="icon-calc-20"></i>计算</a>
                <a href="javascript:;"><i class="icon-save-20"></i>保存</a>
                <a href="javascript:;"><i class="icon-back-20"></i>返回/关闭</a>
                <a href="javascript:;"><i class="icon-i-20"></i>信息</a>
                <a href="javascript:;"><i class="icon-attch-20"></i>附件</a>
                <a href="javascript:;"><i class="icon-list-20"></i>列表</a>
                <a href="javascript:;"><i class="icon-sort-20"></i>排序</a>
                <a href="javascript:;"><i class="icon-copy-20"></i>复制</a>
                <a href="javascript:;"><i class="icon-law-20"></i>法律</a>
                <a href="javascript:;"><i class="icon-batch-delete-20"></i>批量删除</a>
                <a href="javascript:;"><i class="icon-multiple-people-20"></i>多选人</a>
                <a href="javascript:;"><i class="icon-details-20"></i>详细</a>
                <a href="javascript:;"><i class="icon-import-20"></i>导入</a>
                <a href="javascript:;"><i class="icon-error-20"></i>错误</a>
                <a href="javascript:;"><i class="icon-succeed-20"></i>成功</a>
                <a href="javascript:;"><i class="icon-trigger-20"></i>触发</a>
                <a href="javascript:;"><i class="icon-download-20"></i>下载</a>
                <a href="javascript:;"><i class="icon-people-20"></i>人员</a>
                <a href="javascript:;"><i class="icon-view-20"></i>查看</a>
                <a href="javascript:;"><i class="icon-sync-20"></i>同步</a>
                <a href="javascript:;"><i class="icon-check-20"></i>检查</a>
                <a href="javascript:;"><i class="icon-excel-20"></i>excel</a>
            </div>
            <div>
                <textarea class="textarea textarea-code textarea-code-120"><a href="javascript:;"><i class="icon-new-20"></i>新增</a>
<a href="javascript:;"><i class="icon-edit-20"></i>编辑</a>
<a href="javascript:;"><i class="icon-selector-20"></i>选择</a>
<a href="javascript:;"><i class="icon-delete-20"></i>删除</a>
<a href="javascript:;"><i class="icon-table-20"></i>表格</a>
<a href="javascript:;"><i class="icon-target-20"></i>目标</a>
<a href="javascript:;"><i class="icon-refresh-20"></i>刷新</a>
<a href="javascript:;"><i class="icon-calc-20"></i>计算</a>
<a href="javascript:;"><i class="icon-save-20"></i>保存</a>
<a href="javascript:;"><i class="icon-back-20"></i>返回/关闭</a>
<a href="javascript:;"><i class="icon-i-20"></i>信息</a>
<a href="javascript:;"><i class="icon-attch-20"></i>附件</a>
<a href="javascript:;"><i class="icon-list-20"></i>列表</a>
<a href="javascript:;"><i class="icon-sort-20"></i>排序</a>
<a href="javascript:;"><i class="icon-copy-20"></i>复制</a>
<a href="javascript:;"><i class="icon-law-20"></i>法律</a>
<a href="javascript:;"><i class="icon-batch-delete-20"></i>批量删除</a>
<a href="javascript:;"><i class="icon-multiple-people-20"></i>多选人</a>
<a href="javascript:;"><i class="icon-details-20"></i>详细</a>
<a href="javascript:;"><i class="icon-import-20"></i>导入</a>
<a href="javascript:;"><i class="icon-error-20"></i>错误</a>
<a href="javascript:;"><i class="icon-succeed-20"></i>成功</a>
<a href="javascript:;"><i class="icon-trigger-20"></i>触发</a>
<a href="javascript:;"><i class="icon-download-20"></i>下载</a>
<a href="javascript:;"><i class="icon-people-20"></i>人员</a>
<a href="javascript:;"><i class="icon-view-20"></i>查看</a>
<a href="javascript:;"><i class="icon-sync-20"></i>同步</a>
<a href="javascript:;"><i class="icon-check-20"></i>检查</a>
<a href="javascript:;"><i class="icon-excel-20"></i>excel</a></textarea>
            </div>
        </code>


    
    </div>
</body>
<script src="..\../script/require.js" data-main="..\../script/t.js"></script>

</html>