<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="..\../style/t.css" />
<!--[if gte IE 8]><link rel="stylesheet" href="..\../style/ie8.css" /><![endif]-->
</head>
<body>



    <style>
    
    .link-list
    {
        padding:10px 0px;
    }
    .link-list a
    {
        margin-right:10px;
    }

    </style>
    <div class="demo demo-tab-pages">
        

        <div class="link-list">
            
            <a href="http://www.baidu.com" data-open="tab" data-tab-title="百度">在父页面的 tab pages 中打开 百度</a>
           
        </div>


    </div>
</body>
<script src="..\../script/require.js" data-main="..\../script/t.js"></script>

</html>