<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="..\../style/t.css" />
<!--[if gte IE 8]><link rel="stylesheet" href="..\../style/ie8.css" /><![endif]-->
</head>
<body>
    <div class="demo">

        <h2>基本(if，else 判断)</h2>
        <code>
            
            <p>
                <button type="button" class="button" id="buttonTemplateContent1">base render</button>
                <div id="templateContent1"></div>
            </p>

            <div>
                
            </div>
        </code>

        <h2>基本(for 循环)</h2>
        <code>
            
            <p>
                <button type="button" class="button" id="buttonTemplateContent2">for render</button>
                <div id="templateContent2"></div>
            </p>

            <div>
                
            </div>
        </code>

        <h2>基本(no escape 不转义 html)</h2>
        <code>
            
            <p>
                <button type="button" class="button" id="buttonTemplateContent3">no escape render</button>
                <div id="templateContent3"></div>
            </p>

            <div>
                
            </div>
        </code>

        <h2>demo(render select )</h2>
        <code>
            
            <p>
                <button type="button" class="button" id="buttonTemplateContent4">render select</button>
                <div>
                    <select id="templateContent4" class="select"></select>
                </div>
            </p>

            <div>
                
            </div>
        </code>

        <h2>demo(compile tmpl )</h2>
        <code>
            
            <p>
                <button type="button" class="button" id="buttonTemplateContent5">render</button>
                <div id="templateContent5"></div>
            </p>

            <div>
                
            </div>
        </code>


    
    </div>
</body>
<script src="..\../script/require.js" data-main="..\../script/t.js"></script>

<script id="template1" type="text/tmpl">
    <# if(title) { #>
        <h3><#= title #></h3>
    <# } else { #>
        <h3>没有标题，不要点了....</h3>
    <# }#>
</script>

<script id="template2" type="text/tmpl">
    <# if(title) { #>
        <h3><#= title #></h3>
    <# } else { #>
        <h3>没有标签</h3>
    <# }#>

    <# if(tags) {#>
        <# for(var i=0; i < tags.length; i++ ) { #>
            <p>
                <b><#= i + 1 #></b>
                <span><#= tags[i] #></span> 
            </p>
        <# } #>
    <# } #>
</script>

<script id="template3" type="text/tmpl">
    <# if(title1) { #>
        <h3><#= title1 #></h3>
    <# } else if(title2) { #>
        <h3><#== title2 #></h3>
    <# }#>
</script>

<script id="template4" type="text/tmpl">
    <# for(var i in data) { var item = data[i];#>
        <option value="<#= item.value #>" data-ext="<#= item.ext #>" ><#= item.text #></option>
    <# } #>
</script>


<script>
    
    function requireReady()
    {        

        $('#buttonTemplateContent1').click(function()
        {
            var $this = $(this);

            if($this.attr('data-click') === '' || $this.attr('data-click') === 'true')
            {
                $('#templateContent1').html(template.render('template1', {title:'标题1'}));
                $(this).html('再点一次...');
                $this.attr('data-click', false);
            }
            else
            {
                $('#templateContent1').html(template.render('template1', {}));
                $(this).html('base render');
                $this.attr('data-click', true);
            }
        });

        var data = 
        {
            title: '我的标签',
            tags: ['文艺', '博客', '摄影', '电影', '民谣', '旅行', '吉他']
        };

        $('#buttonTemplateContent2').click(function()
        {
            $('#templateContent2').html(template.render('template2', data));
        });


        $('#buttonTemplateContent3').click(function()
        {
            var $this = $(this);

            if($this.attr('data-click') === '' || $this.attr('data-click') === 'true')
            {
                $('#templateContent3').html(template.render('template3', {title1:'<span style="color:#f00">文艺标题，普通显示</span>'}));
                $(this).html('再点一次...');
                $this.attr('data-click', false);
            }
            else
            {
                $('#templateContent3').html(template.render('template3', {title2:'<span style="color:#f00">文艺标题，普通显示</span>'}));
                $(this).html('no escape render');
                $this.attr('data-click', true);
            }
        });


        var area = 
        [
            {
                value : 1,
                text : 'SGM',
                ext : 'test01'
            },
            {
                value : 2,
                text : 'PTA',
                ext : 'test02'
            },
            {
                value : 3,
                text : 'SDY',
                ext : 'test03'
            }
        ];

        $('#buttonTemplateContent4').click(function()
        {
            $('#templateContent4').html(template.render('template4', {data:area}));
        });

        var tmplhtml = '<h3><#= title #></h3>';
        var tmpl5 = template.compile(tmplhtml);

        $('#buttonTemplateContent5').click(function()
        {
            $('#templateContent5').html(tmpl5({title : 'by tmpl html ....'}));
        });

       
    };
</script>

</html>