<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="..\../style/t.css" />
<!--[if gte IE 8]><link rel="stylesheet" href="..\../style/ie8.css" /><![endif]-->
</head>
<body>
    <div class="demo">
        

        <h2>demo:</h2>
        <code>
            <p>
                <input type="text" class="text text-zoom" data-zoom-type="number">  <i>我是 金额 输入框，提示会居右对齐，并进行格式化</i>
            </p>
            <div>
                <textarea class="textarea textarea-code"><input type="text" class="text text-zoom" data-zoom-type="number"></textarea>
            </div>
            <p>
                <input type="text" class="text text-zoom" data-zoom-type="code">  <i>我是 特定代码 输入框，提示会居中对齐</i>
            </p>
            <div>
                <textarea class="textarea textarea-code"><input type="text" class="text text-zoom" data-zoom-type="code"></textarea>
            </div>

            <p>
                <s>更多自定义，请联系我</s>
            </p>
        </code>



    
    </div>
</body>
<script src="..\../script/require.js" data-main="..\../script/t.js"></script>

</html>