<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="..\../style/t.css" />
<!--[if gte IE 8]><link rel="stylesheet" href="..\../style/ie8.css" /><![endif]-->
</head>
<body>
    <div class="demo">
        
        <h2>tip (取元素 title):</h2>
        <code>
            <p>
                <a href="javascript:;" class="title" title="我是 title ...">tip</a>
            </p>
            <div>
                <textarea class="textarea textarea-code ">$('.title[title]').tip();</textarea>
            </div>
        </code>

        <h2>tip (自己传内容):</h2>
        <code>
            <p>
                <a href="javascript:;" id="tip1">tip</a>
            </p>
            <div>
                <textarea class="textarea textarea-code ">$('#tip1').tip('我随便写的...');</textarea>
            </div>
        </code>

 <!--        <h2>tip (自己传内容 + 配置信息):</h2>
        <code>
            <p>
                <a href="javascript:;" id="tip2">tip</a>
            </p>
            <div>
                <textarea class="textarea textarea-code textarea-code-60">var tipSetting = {position:{adjust:{x:-8},my:'bottom left',at:'top right'},style:{tip:{offset:15}}};
$('#tip2').tip('支持强大的配置...',tipSetting);</textarea>
            </div>
        </code> -->
        

        <h2>tip (live/delegate 方式):</h2>
        <code>
            <p class="tips1">
                <a href="javascript:;" title="delegate title">tip</a>
            </p>
            <p>
                <button class="button" type="button" id="add-tip1">增加一个 tip </button>
            </p>
            <div>
                <textarea class="textarea textarea-code textarea-code-60">$('.tips1 a').tip('delegate 统一内容...',
    {
        liveEvents: true
    });</textarea>
            </div>
        </code>



    
    </div>
</body>
<script src="..\../script/require.js" data-main="..\../script/t.js"></script>

<script>
    
    function requireReady()
    {
        
        $('.title[title]').tip();
        $('#tip1').tip('我随便写的...');

        var tipSetting = {position:{adjust:{x:-8},my:'bottom left',at:'top right'},style:{tip:{offset:15}}};
        $('#tip2').tip('支持强大的配置...',tipSetting);


        $('#add-tip1').click(function()
        {
            $('.tips1').append('&nbsp;<a href="javascript:;" >tip' + $('.tips1 a').size() + '</a>');
        });

        $('.tips1 a').tip('delegate 统一内容...',
        {
            liveEvents: true
        });
    }
</script>
</html>