<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="..\..\../style/t.css" />
<!--[if gte IE 8]><link rel="stylesheet" href="..\..\../style/ie8.css" /><![endif]-->
</head>
<body class="demo">
	
	<h1>
		jquery validate 组件，必须引用如下文件
	</h1>

  	<h2>
        功能说明：
    </h2>
	<h2>
		<a href="http://validation.bassistance.de/documentation/" target="_blank">jquery validate docs</a>
	</h2>
   	<code>
   		 <ol>
		    <li>1: 自定义了错误信息显示方式</li>
		    <li>2: 增加了 regex，maxTo，minTo 验证方法</li>
		    <li>3: 扩展了分组验证功能</li>
		</ol>
   	</code>

	<h2>css :</h2>
    <code>
        <p>
            基础样式库
        </p>
        <textarea class="textarea textarea-code">/style/lib_v2.0.css</textarea>
        <p>
            所有控件样式库 <i>(如果需要使用其它组件，建议引用这个)</i>
        </p>
        <textarea class="textarea textarea-code">/style/components_v1.0.css</textarea>
        <p>
            验证控件样式库 <i>(如果只使用验证组件，建议引用这个)</i>
        </p>
        <textarea class="textarea textarea-code">/style/validate-1.0.css</textarea>
    </code>

    <h2>js :</h2>
    <code>
        <p>
            JQ 库
        </p>
        <textarea class="textarea textarea-code">/script/jquery-1.7.1.min.js</textarea>
        <p>
            JQ validate 库
        </p>
        <textarea class="textarea textarea-code">/script/plugin/jquery.validate.ext-1.0.js</textarea>
    </code>

    <h2>普通验证 :</h2>
    
    <iframe src="validate-default.html" frameborder="0" style="width:100%; height:520px;"></iframe>

    <h2>分组验证 :</h2>
    
    <iframe src="validate-groups.html" frameborder="0" style="width:100%; height:640px;"></iframe>
    


</body>

</html>