<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="..\..\../style/t.css" />
<!--[if gte IE 8]><link rel="stylesheet" href="..\..\../style/ie8.css" /><![endif]-->
</head>
<body class="demo" style="margin:0px;padding:0px;">
	
	
    <code style="height:618px;">

        <div>
            <s>
                <b>分组时，如果某个 rule 不指定 groups ，则表示所有分组验证时都会验证</b>
                <br>
                <b>也就是说，如果某一个 rule 想永远都验证，不指定 groups 即可</b>
            </s>
        </div>

        <div>
            <s>代码请看：<a href="validate-groups.html" target="_blank">validate groups</a></s>
        </div>
        <textarea class="textarea textarea-code">validate-groups.html</textarea>
        
        <div class="validate-messages">
            <h2 class="validate-messages-title">错误信息：</h2>
            <a href="javascript:;" class="validate-messages-close"></a>
            <ul class="validate-messages-list"></ul>
        </div>

        <form action="" id="form2">
            <table class="form-grid form-grid-col3">
                <tbody>
                    <tr>
                        <th>
                            <label class="require">区域代码</label>
                        </th>
                        <td>
                            <input type="text" id="input.areaCode" name="input.areaCode" class="text" />
                        </td>
                        <td>
                            请输入 4 位数字
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="require">类型</label>
                        </th>
                        <td>
                            <select id="input.cate" name="input.cate" class="select">
                                <option></option>
                                <option value="1">A</option>
                                <option value="2">B</option>
                            </select>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="require">是否国外</label>
                        </th>
                        <td>
                            <label>
                                <input type="radio" name="input.inCountry">Yes
                            </label>
                            <label>
                                <input type="radio" name="input.inCountry">No
                            </label>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="require">标签</label>
                        </th>
                        <td>
                            <label>
                                <input type="checkbox" name="input.label" id="">软件工程师
                            </label>
                            <label>
                                <input type="checkbox" name="input.label" id="">软件测试
                            </label>
                            <label>
                                <input type="checkbox" name="input.label" id="">系统工程师
                            </label>
                            <label>
                                <input type="checkbox" name="input.label" id="">数据库管理员
                            </label>
                        </td>
                        <td>
                            至少选择一项                        
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="require">问题</label>
                        </th>
                        <td>
                            <input type="text" id="input.ask" name="input.ask" class="text" />
                        </td>
                        <td>
                            <span id="span-num-one"></span> + 
                            <span id="span-num-two"></span> = ?      
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>
                            
                        </th>
                        <td>
                            <button type="submit" class="button save">保存</button>
                        </td>
                        <td>
                            validator.exec('save');
                        </td>
                    </tr>
                    <tr>
                        <th>
                            
                        </th>
                        <td>
                            <button type="submit" class="button submit">提交</button>
                        </td>
                        <td>
                            validator.exec('submit');
                        </td>
                    </tr>
                    <tr>
                        <th>
                            
                        </th>
                        <td>
                            <button type="submit" class="button other">自定义</button>
                        </td>
                        <td>
                            validator.exec('other');
                        </td>
                    </tr>
                    <tr>
                        <th>
                            
                        </th>
                        <td>
                            <button type="submit" class="button cancel">取消</button>
                        </td>
                        <td>
                            validator.exec('cancel');
                        </td>
                    </tr>

                     <tr>
                        <th>
                            
                        </th>
                        <td>
                            <button type="submit" class="button all">all</button>
                        </td>
                        <td>
                            validator.exec('save','submit','other');
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        
    </code>

    

</body>
<script src="..\..\../script/require.js" data-main="..\..\../script/t.js"></script>
<script>
    
    function requireReady()
    {
        $.validator.addMethod('askMethodValidate', function(value, element, param) 
        {
            if(+($(element).val()) == +($('#span-num-one').html()) + +($('#span-num-two').html()) )
            {
                return true;
            }
            return false;
        });

        
        $('#span-num-one').html((Math.random()*100).toFixed());
        $('#span-num-two').html((Math.random()*100).toFixed());

        var rules = {};
        rules['input.areaCode']={ groups: ['save', 'submit'], required: true, regex : /\d{4}/ };
        rules['input.cate']={  required: true};
        rules['input.inCountry']={ groups: ['submit', 'other'], required: true};
        rules['input.label']={groups: ['submit', 'other'], required:true};
        rules['input.ask']={groups: ['other'], askMethodValidate:true };
        
        var messages = {};
        messages['input.areaCode']={ required: '区别编号不能为空',regex :'必须是4位数字' };
        messages['input.cate']={ required: '分类不能为空'};
        messages['input.inCountry']={ required: '是否国外不能为空'};
        messages['input.label']={required:'标签不能为空'};
        messages['input.ask']={ required: '答案不能为空',askMethodValidate :'答案错误' };

        var validator =new validateExt('#form2', rules, messages);

        $(document).delegate('#form2 .button.save', 'click', function()
        {
            return validator.exec('save');
        });

        $(document).delegate('#form2 .button.submit', 'click', function()
        {
            return validator.exec('submit');
        });

        $(document).delegate('#form2 .button.other', 'click', function()
        {
            return validator.exec('other');
        });
        $(document).delegate('#form2 .button.cancel', 'click', function()
        {
            return validator.exec('cancel');
        });
        $(document).delegate('#form2 .button.all', 'click', function()
        {
            return validator.exec('save','submit','other');
        });
    }
    

</script>
</html>