@charset "utf-8";
/* css3 v1.0 */
a:focus {
  outline: none;
}
.tab-pages .tab-header {
  position: relative;
  overflow: hidden;
}
.tab-pages .tab-header .tab-nav-switch {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-left: 10px;
  width: 60px;
  height: 30px;
  background-color: #7D7D7D;
}
.tab-pages .tab-header .tab-nav-switch a {
  float: left;
  width: 25px;
  height: 25px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  background-color: #CACACA;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.tab-pages .tab-header .tab-nav-switch a:hover {
  text-decoration: none;
  background: #fff;
}
.tab-pages .tab-header .tab-nav-switch .next {
  margin-left: 5px;
}
.tab-pages .tab-nav {
  height: 25px;
  overflow: hidden;
}
.tab-pages .tab-nav li {
  float: left;
  margin-left: 5px;
}
.tab-pages .tab-nav li a[data-tab-role="nav"] {
  position: relative;
  display: block;
  padding: 0px 26px 0px 12px;
  height: 25px;
  line-height: 25px;
  color: #7E7E7E;
  font-size: 14px;
  font-weight: 700;
  background-color: #CACACA;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.tab-pages .tab-nav li i[data-tab-role="close"] {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url('../images/icon-20.png');
  background-position: left -0px;
}
.tab-pages .tab-nav li:first-child {
  margin-left: 15px;
}
.tab-pages .tab-nav li:first-child a[data-tab-role="nav"] {
  padding-right: 12px;
}
.tab-pages .tab-nav li.selected a,
.tab-pages .tab-nav li a:hover {
  background: #fff;
  color: #333;
  text-decoration: none;
}
.tab-pages .tab-nav li.selected a i[data-tab-role="close"],
.tab-pages .tab-nav li a:hover i[data-tab-role="close"] {
  background-image: url('../images/icon-20.png');
  background-position: left -20px;
}
