/* demo v1.0 */
@charset "utf-8";
/* lib v2.0 */
html {
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0px;
  padding: 0px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-align: inherit;
}
fieldset,
img {
  border: none;
}
iframe {
  display: block;
}
abbr,
acronym {
  border: none;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul,
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ins,
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.clear {
  zoom: 1;
  /* for IE6 IE7 */
}
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.d-n {
  display: none;
}
/* css3 v1.0 */
/** sprite: icon-fold-bar; sprite-image: url('../images/t/icon-fold-bar.png'); sprite-layout: vertical */
html {
  overflow-y: scroll;
}
body {
  font: normal normal 500 12px/18px Arial, '\5FAE\8F6F\96C5\9ED1', 'Microsoft YaHei', SimSun;
  background: none;
}
a,
input,
button,
textarea {
  font: normal normal 500 12px/18px Arial, '\5FAE\8F6F\96C5\9ED1', 'Microsoft YaHei', SimSun;
  color: #333;
}
.transtion {
  padding: 50px;
}
.transtion .button {
  display: block;
  margin-bottom: 10px;
  padding: 0px 10px;
  width: 180px;
  height: 60px;
  border: solid 1px #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  text-align: left;
}
.transtion .button:hover {
  width: 600px;
}
.transtion .button.linear {
  -webkit-transition: -webkit-all 0.5s linear;
  -moz-transition: -moz-all 0.5s linear;
  -ms-transition: -ms-all 0.5s linear;
  -o-transition: -o-all 0.5s linear;
  transition: all 0.5s linear;
}
.transtion .button.ease {
  -webkit-transition: -webkit-all 0.5s ease;
  -moz-transition: -moz-all 0.5s ease;
  -ms-transition: -ms-all 0.5s ease;
  -o-transition: -o-all 0.5s ease;
  transition: all 0.5s ease;
}
.transtion .button.ease-in {
  -webkit-transition: -webkit-all 0.5s ease-in;
  -moz-transition: -moz-all 0.5s ease-in;
  -ms-transition: -ms-all 0.5s ease-in;
  -o-transition: -o-all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.transtion .button.ease-out {
  -webkit-transition: -webkit-all 0.5s ease-out;
  -moz-transition: -moz-all 0.5s ease-out;
  -ms-transition: -ms-all 0.5s ease-out;
  -o-transition: -o-all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.transtion .button.ease-in-out {
  -webkit-transition: -webkit-all 0.5s ease-in-out;
  -moz-transition: -moz-all 0.5s ease-in-out;
  -ms-transition: -ms-all 0.5s ease-in-out;
  -o-transition: -o-all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.transtion-transform {
  padding: 50px;
}
.transtion-transform .button {
  display: block;
  margin-bottom: 10px;
  padding: 0px 10px;
  width: 180px;
  height: 60px;
  border: solid 1px #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  text-align: left;
  -webkit-transition: -webkit-all 0.5s linear;
  -moz-transition: -moz-all 0.5s linear;
  -ms-transition: -ms-all 0.5s linear;
  -o-transition: -o-all 0.5s linear;
  transition: all 0.5s linear;
}
.transtion-transform .button.translate:hover {
  -webkit-transform: translate(-20px, -20px);
  -moz-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  -o-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
}
.transtion-transform .button.rotate {
  -webkit-transition: -webkit-all 2s linear;
  -moz-transition: -moz-all 2s linear;
  -ms-transition: -ms-all 2s linear;
  -o-transition: -o-all 2s linear;
  transition: all 2s linear;
}
.transtion-transform .button.rotate:hover {
  -webkit-transform: rotate(720deg) translate(200px, 0px);
  -moz-transform: rotate(720deg) translate(200px, 0px);
  -ms-transform: rotate(720deg) translate(200px, 0px);
  -o-transform: rotate(720deg) translate(200px, 0px);
  transform: rotate(720deg) translate(200px, 0px);
}
.transtion-transform .button.scale {
  -webkit-transition: -webkit-all 1s linear;
  -moz-transition: -moz-all 1s linear;
  -ms-transition: -ms-all 1s linear;
  -o-transition: -o-all 1s linear;
  transition: all 1s linear;
}
.transtion-transform .button.scale:hover {
  margin-left: 400px;
  -webkit-transform: scale(3) rotate(360deg);
  -moz-transform: scale(3) rotate(360deg);
  -ms-transform: scale(3) rotate(360deg);
  -o-transform: scale(3) rotate(360deg);
  transform: scale(3) rotate(360deg);
}
.transtion-transform .button.skew {
  -webkit-transition: -webkit-all 1s linear;
  -moz-transition: -moz-all 1s linear;
  -ms-transition: -ms-all 1s linear;
  -o-transition: -o-all 1s linear;
  transition: all 1s linear;
}
.transtion-transform .button.skew:hover {
  margin-left: 500px;
  -webkit-transform: skew(-50deg) rotate(360deg);
  -moz-transform: skew(-50deg) rotate(360deg);
  -ms-transform: skew(-50deg) rotate(360deg);
  -o-transform: skew(-50deg) rotate(360deg);
  transform: skew(-50deg) rotate(360deg);
}
