@charset "utf-8";

@import "lib/base.less";
@import "lib/css3.less";
@import "lib/iconfont.less";

@import "components/attach.less";


@bg-url : '../images/';
@bg-sprite-url : '../images/sprite/';


body
{
    font-size: 13px;
}


.mui-bar-nav
{

    .mui-pull-left,
    .mui-pull-right
    {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 0px!important;
        margin: 0px!important;
        width: 36px;
        height: 44px;
        line-height: 44px;
        text-align: center;
    }

    .mui-pull-right
    {
        left: auto;
        right: 0px;
    }


    .mui-icon-details
    {
        .icon-ellipsis
        {
            .transform(~'rotate(90deg)');
        }
    }
}


.mui-content-padded
{
    .mui-input-group
    {
        .mui-input-row
        {
            min-height: 40px;
            height: auto;

            &:after
            {
                left: 0px;
            }
            label
            {
                padding: 11px 5px 11px 10px;
                width: 28%;
                line-height: 18px;
                font-size: 13px;
                color: #666;
            }

            label + input,
            label + textarea,
            label + select
            {
                padding: 10px 5px;
                width: 72%;
                line-height: 18px;
                float: left;
                height: 40px;
                font-size: 13px;
            }

            label + textarea
            {
                height: 80px;
            }
            label + span,
            label + .mui-navigate-right
            {
                float: left;
                padding: 11px 20px 11px 5px;
                color: #333;
                font-size: 13px;
                line-height: 18px;

                width: 72%;

                &:after
                {
                    right: 10px;
                }
            }
        }
    }

    .mui-btn-block
    {
        padding: 8px 0px;
        font-size: 14px;
    }
}



.task-dashboard-list
{
    .mui-content
    {
        padding-bottom: 55px;

        .mui-table-title
        {
            position: relative;
            padding: 10px 40px 0px 14px;
            height: 40px;
            line-height: 20px;
            color: #6d6d72;
            font-size: 15px;

            .title-editor
            {
                position: relative;
                height: 26px;

                input
                {
                    display: block;
                    margin: 0px;
                    padding: 3px 0px;
                    width: 100%;
                    height: 26px;
                    line-height: 20px;
                    border: none;
                    font-size: 15px;
                    background-color: transparent;
                    border-bottom: solid 1px transparent;

                    .border-radius(~'0px');

                    &:focus
                    {
                        border-bottom: solid 1px #ccc;
                    }
                }
            }

            

            .mui-btn-more
            {
                position: absolute;
                top: 10px;
                right: 0px;
                padding: 0px;
                width: 35px;
                height: 30px;
                line-height: 36px;
                text-align: center;
                color: #333;

                .iconfont
                {
                    font-size: 24px;
                    .transform(~'rotate(90deg)');
                }

            }
        }

        .mui-table-view
        {
            font-size: 15px;
        }

        .mui-table-view-cell
        {
            padding-top: 9px;
            padding-bottom: 9px;
            color: #666;
        }
    }
}



.task-dashboard-stage
{
    .mui-content
    {
        position: relative;
        padding-top: 52px;
        padding-bottom: 55px;

        .mui-slider
        {
            position: relative;
            padding-bottom: 20px;
            height: 100%;

            .mui-slider-group,
            .mui-slider-item,
            .mui-card
            {
                position: relative;
                height: 100%;
            }
            .mui-card
            {
                position: relative;
                padding: 8px 5px;
                margin: 0px 5px;
                padding-top: 32px;
                .mui-table-title
                {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    padding-left: 10px;
                    padding-right: 35px;
                    width: 100%;
                    height: 34px;
                    font-size: 15px;
                    background-color: #eeeeee;
                    color: #333;


                    .title-editor
                    {
                        position: relative;
                        padding-top: 2px;
                        height: 30px;

                        input
                        {
                            display: block;
                            margin: 0px;
                            padding: 4px 0px;
                            width: 100%;
                            height: 28px;
                            line-height: 20px;
                            border: none;
                            font-size: 15px;
                            background-color: transparent;
                            border-bottom: solid 1px transparent;

                            .border-radius(~'0px');

                            &:focus
                            {
                                border-bottom: solid 1px #ccc;
                            }
                        }
                    }

                    .mui-btn-more
                    {
                        position: absolute;
                        top: 2px;
                        right: 0px;
                        padding: 0px;
                        width: 35px;
                        height: 32px;
                        line-height: 36px;
                        text-align: center;
                        color: #333;

                        .iconfont
                        {
                            font-size: 24px;
                            .transform(~'rotate(90deg)');
                        }

                    }
                }

                .mui-table-view
                {
                    position: relative;
                    margin-top: 6px;
                    height: 99%;
                    overflow: hidden;
                    overflow-y: auto;
                }
                .mui-table-view-cell
                {
                    padding-top: 9px;
                    padding-bottom: 9px;
                    padding-left: 5px;
                    padding-right: 5px;
                    color: #666;
                    &:after
                    {
                        left: 5px;
                        right: 5px;
                    }

                    > a:not(.mui-btn)
                    {
                        margin-right: -5px;
                        margin-left: -5px;
                    }
                }
            }
        }

        .mui-slider-indicator
        {
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;

            .mui-indicator
            {
                .box-shadow(~'none');
            }

        }
    }
}


.task-project
{
    .mui-content
    {
        position: relative;
        padding-top: 44px;
        padding-bottom: 55px;

        .mui-content-padded
        {
            .mui-btn-block
            {
                margin-top: 30px;
            }   
        }
    }
}

.task-index,
.task-details
{
    .mui-content
    {
        position: relative;
        padding-top: 44px;
        padding-bottom: 55px;

        .mui-content-padded
        {

            .mui-input-group + .mui-input-group
            {
                margin-top: 10px;
            }
            .mui-btn-block
            {
                margin-top: 30px;
            }   
        }
    }
}

.task-index
{
    .mui-content
    {
        padding-bottom: 65px;

        .message-items
        {
            padding: 0px 10px;
            > li
            {
                position: relative;
                padding: 10px 0px;
                padding-left: 50px;
                padding-right: 15%;

                .avatar
                {
                    position: absolute;
                    top: 10px;
                    left: 0px;
                    width: 40px;
                    height: 40px;

                    .border-radius(~'3px');

                    img
                    {
                        width: 40px;
                        height: 40px; 

                        .border-radius(~'3px');
                    }
                }
                .message-attr
                {
                    margin-top: -2px;
                    cite, span
                    {
                        margin-right: 5px;
                        color: #919191;
                    }
                    cite
                    {
                        color: #4a94d3;
                    }
                }

                .message-content
                {
                    position: relative;
                    margin-top: 2px;
                    padding: 5px 10px;
                    border: solid 1px #d7e7f5;
                    background-color: #fff;

                    .border-radius(~'5px');

                    &:before,
                    &:after
                    {
                        content: '';
                        position: absolute;
                        top: 8px;
                        left: -15px;
                        width: 0px;
                        overflow: hidden;
                        border: solid 7px transparent;
                        border-right-color: #d7e7f5; 
                    }
                    &:after
                    {
                        left: -14px;
                        border-right-color: #fff;    
                    }

                    .message-text
                    {
                        position: relative;
                        color: #676767;
                        font-size: 12px;
                        line-height: 16px;

                    }

                    .message-attach
                    {
                        margin-top: 5px;

                        .images-list
                        {
                            padding-top: 5px;
                            li
                            {
                                float: left;
                                width: 50%;
                                padding-left: 0px;
                                padding-right: 2px;
                                margin-bottom: 4px;

                                border-top: none;

                                a
                                {
                                    display: block;
                                    padding: 0px;
                                    height: 80px;

                                    background-color: #f7f7f7;

                                }
                            }
                            li:nth-of-type(2n+2)
                            {
                                padding-left: 2px;
                                padding-right: 0px;
                            }
                        }
                        
                    }
                }

                

            }

            li.my
            {
                padding-right: 50px;
                padding-left: 15%;

                .avatar
                {
                    left: auto;
                    right: 0px;
                }
                .message-attr
                {
                    display: none;
                }
                .message-content
                {
                    margin-top: 0px;
                    &:before,
                    &:after
                    {
                        left: auto;
                        right: -15px;
                        border-right-color: transparent;
                        border-left-color: #d7e7f5; 
                    }
                    &:after
                    {
                        left: auto;
                        right: -14px;
                        border-right-color: transparent;
                        border-left-color: #fff;    
                    }

                    .message-text
                    {
                        font-size: 12px;
                        line-height: 15px;
                        label + a
                        {
                            color: #328bd0;
                        }
                    }
                }
            }
        }

    }
    .mui-bar-tab
    {
        .reply-message-container
        {
            position: relative;
            padding: 5px;
            padding-right: 60px;

            textarea
            {
                padding: 3px;
                margin: 0px;
                height: 40px;
                font-size: 12px;
                line-height: 15px;
            }

            .mui-btn-reply
            {
                position: absolute;
                top: 0px;
                right: 0px;
                padding: 0px;
                width: 55px;
                height: 50px;
                line-height: 50px;
                text-align: center;
            }
        }
    }
}



.mui-popover.stage-popover
{
    width: 100px;

    .mui-table-view
    {
        padding-top: 5px;
        padding-bottom: 5px;
        a
        {
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 13px;
        }
    }
}