@charset "utf-8";
ul,
li,
dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
cite {
  font-style: normal;
}
img {
  max-width: 100%;
  vertical-align: top;
}
textarea {
  vertical-align: top;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.display-block,
.show {
  display: block;
}
.display-none,
.hide {
  display: none;
}
.inline {
  display: inline;
}
.scrollable {
  width: 100%;
  height: 200px;
  overflow: auto;
}
.scrollable-x {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}
.scrollable-y {
  height: 200px;
  overflow: hidden;
  overflow-y: auto;
}
.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger {
  padding: 15px;
  background-color: #377bb5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.bg-success {
  background-color: #dff0d8;
}
.bg-info {
  background-color: #daedf7;
}
.bg-warning {
  background-color: #fcf8e3;
}
.bg-danger {
  background-color: #f2dede;
}
/* css3 v1.0 */
@font-face {
  font-family: iconfont;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iconfont.ttf");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-setting:before {
  content: "\e600";
}
.icon-ellipsis:before {
  content: "\e601";
}
.icon-multiple-window:before {
  content: "\e604";
}
.icon-project-category:before {
  content: "\e605";
}
.icon-succeed:before {
  content: "\e606";
}
.icon-details:before {
  content: "\e602";
}
.docs-list,
.images-list {
  zoom: 1;
  /* for IE6 IE7 */
}
.docs-list:after,
.images-list:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.docs-list li,
.images-list li {
  padding: 0px;
  border-top: dotted 1px #dddddd;
}
.docs-list li a,
.images-list li a {
  display: block;
  position: relative;
  padding-left: 50px;
  height: 50px;
  color: #888888;
}
.docs-list li a:before,
.images-list li a:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0px;
  width: 40px;
  height: 40px;
}
.docs-list li cite,
.images-list li cite,
.docs-list li span,
.images-list li span {
  display: block;
  line-height: 20px;
  color: #888888;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.docs-list li cite,
.images-list li cite {
  padding-top: 5px;
  color: #555555;
}
.docs-list li.zip a:before,
.images-list li.zip a:before,
.docs-list li.rar a:before,
.images-list li.rar a:before {
  background-image: url('../images/sprite/bg-attach-zip.png');
}
.docs-list li.doc a:before,
.images-list li.doc a:before,
.docs-list li.docx a:before,
.images-list li.docx a:before {
  background-image: url('../images/sprite/bg-attach-word.png');
}
.docs-list li.txt a:before,
.images-list li.txt a:before {
  background-image: url('../images/sprite/bg-attach-txt.png');
}
.docs-list li.ppt a:before,
.images-list li.ppt a:before,
.docs-list li.pptx a:before,
.images-list li.pptx a:before {
  background-image: url('../images/sprite/bg-attach-ppt.png');
}
.docs-list li.pdf a:before,
.images-list li.pdf a:before {
  background-image: url('../images/sprite/bg-attach-pdf.png');
}
.docs-list li.xls a:before,
.images-list li.xls a:before,
.docs-list li.xlsx a:before,
.images-list li.xlsx a:before {
  background-image: url('../images/sprite/bg-attach-excel.png');
}
.images-list {
  zoom: 1;
  /* for IE6 IE7 */
}
.images-list:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.images-list li {
  position: relative;
  height: 80px;
  text-align: center;
}
.images-list li img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 78px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.images-list li .button-delete {
  top: 0px;
  right: 0px;
  margin: 0px;
}
.mui-indexed-list {
  position: relative;
  border-top: solid 1px #e3e3e3;
  border-bottom: solid 1px #e3e3e3;
  overflow: hidden;
  background-color: #fafafa;
  height: 300px;
  cursor: default;
}
.mui-indexed-list-inner {
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
  border: none;
}
.mui-indexed-list-inner::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  visibility: hidden;
}
.mui-indexed-list-empty-alert,
.mui-indexed-list-inner.empty ul {
  display: none;
}
.mui-indexed-list-inner.empty .mui-indexed-list-empty-alert {
  display: block;
}
.mui-indexed-list-empty-alert {
  padding: 30px 15px;
  text-align: center;
  color: #ccc;
  padding-right: 45px;
}
.mui-ios .mui-indexed-list-inner {
  width: calc(110%);
}
.mui-indexed-list-group,
.mui-indexed-list-item {
  padding-right: 45px;
}
.mui-ios .mui-indexed-list-group,
.mui-ios .mui-indexed-list-item,
.mui-ios .mui-indexed-list-empty-alert {
  padding-right: 55px;
}
.mui-indexed-list-group {
  background-color: #f7f7f7;
}
.mui-indexed-list-group {
  padding-top: 3px;
  padding-bottom: 3px;
}
.mui-indexed-list-search {
  border-bottom: solid 1px #e3e3e3;
  z-index: 15;
}
.mui-indexed-list-search.mui-search:before {
  margin-top: -10px;
}
.mui-indexed-list-search input {
  border-radius: 0px;
  margin: 0px;
  background-color: #fafafa;
}
.mui-indexed-list-bar {
  width: 23px;
  background-color: lightgrey;
  position: absolute;
  height: 100%;
  z-index: 10;
  right: 0px;
  -webkit-transition: .2s;
}
.mui-indexed-list-bar a {
  display: block;
  text-align: center;
  font-size: 11px;
  padding: 0px;
  margin: 0px;
  line-height: 15px;
  color: #aaa;
}
.mui-indexed-list-bar.active {
  background-color: #c8c8c8;
}
.mui-indexed-list-bar.active a {
  color: #333;
}
.mui-indexed-list-bar.active a.active {
  color: #007aff;
}
.mui-indexed-list-alert {
  position: absolute;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  border-radius: 40px;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  color: #fff;
  display: none;
  -webkit-transition: .2s;
}
.mui-indexed-list-alert.active {
  display: block;
}
/*!
 * mobilebone.css
 * by zhangxinxu(.com) 2014-09-26
 * some necessary CSS for mobilebone.js
 * good luck for U, ^_^
**/
a,
img {
  -webkit-touch-callout: none;
}
body {
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
  -ms-touch-action: none;
}
/* construction */
html,
body,
.page {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.page {
  position: absolute;
  left: 0;
  top: 0;
}
.page.out {
  display: none;
}
.in,
.out {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* mask layer when ajax sending... */
.mask {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}
.loading {
  /* more info: http://www.zhangxinxu.com/wordpress/?p=3357 */
  width: 3px;
  height: 3px;
  border-radius: 100%;
  box-shadow: 0 -10px 0 1px currentColor, /* top, 1px expand */ 10px 0px currentColor, /* right */ 0 10px currentColor, /* bottom */ -10px 0 currentColor, /* left */ -7px -7px 0 0.5px currentColor, /* left-top, 0.5px expand */ 7px -7px 0 1.5px currentColor, /* right-top, 1.5px expand */ 7px 7px currentColor, /* right-bottom */ -7px 7px currentColor;
  /* left-bottom */
  -webkit-animation: spin 1s steps(8) infinite;
  animation: spin 1s steps(8) infinite;
  /*center*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* Default animation - slide, you can visit 'src/mobilebone.aniamte.css' to get more styles of animation */
.slide.out,
.slide.in {
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 225ms;
  animation-timing-function: ease-out;
  animation-duration: 225ms;
}
.slide.in {
  -webkit-animation-name: slideinfromright;
  animation-name: slideinfromright;
}
.slide.out {
  -webkit-animation-name: slideouttoleft;
  animation-name: slideouttoleft;
}
.slide.reverse.out {
  -webkit-animation-name: slideouttoright;
  animation-name: slideouttoright;
}
.slide.reverse.in {
  -webkit-animation-name: slideinfromleft;
  animation-name: slideinfromleft;
}
/* keyframes for slidein from sides */
@-webkit-keyframes slideinfromright {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideinfromright {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideinfromleft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideinfromleft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
/* keyframes for slideout to sides */
@-webkit-keyframes slideouttoleft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideouttoleft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slideouttoright {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideouttoright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
/* chrysanthemum loading effect */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
* jQuery Mobile Framework
* Copyright (c) jQuery Project
* Dual licensed under the MIT (MIT-LICENSE.txt) or GPL (GPL-LICENSE.txt) licenses.
*/
.in {
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 350ms;
  animation-timing-function: ease-out;
  animation-duration: 350ms;
}
.out {
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 225ms;
  animation-timing-function: ease-in;
  animation-duration: 225ms;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade.out {
  opacity: 0;
  -webkit-animation-duration: 125ms;
  -webkit-animation-name: fadeout;
  animation-duration: 125ms;
  animation-name: fadeout;
}
.fade.in {
  opacity: 1;
  -webkit-animation-duration: 225ms;
  -webkit-animation-name: fadein;
  animation-duration: 225ms;
  animation-name: fadein;
}
.pop {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.pop.in {
  -webkit-transform: scale(1);
  -webkit-animation-name: popin;
  -webkit-animation-duration: 350ms;
  transform: scale(1);
  animation-name: popin;
  animation-duration: 350ms;
  opacity: 1;
}
.pop.out {
  -webkit-animation-name: fadeout;
  -webkit-animation-duration: 100ms;
  animation-name: fadeout;
  animation-duration: 100ms;
  opacity: 0;
}
.pop.in.reverse {
  -webkit-animation-name: fadein;
  animation-name: fadein;
}
.pop.out.reverse {
  -webkit-transform: scale(0.8);
  -webkit-animation-name: popout;
  transform: scale(0.8);
  animation-name: popout;
}
@-webkit-keyframes popin {
  from {
    -webkit-transform: scale(0.8);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@keyframes popin {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.8);
    opacity: 0;
  }
}
@keyframes popout {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}
/* keyframes for slidein from sides */
@-webkit-keyframes slideinfromright {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideinfromright {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideinfromleft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideinfromleft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
/* keyframes for slideout to sides */
@-webkit-keyframes slideouttoleft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideouttoleft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slideouttoright {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideouttoright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.slide.out,
.slide.in {
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 350ms;
  animation-timing-function: ease-out;
  animation-duration: 350ms;
}
.slide.out {
  -webkit-transform: translate3d(-100%, 0, 0);
  -webkit-animation-name: slideouttoleft;
  transform: translateX(-100%);
  animation-name: slideouttoleft;
}
.slide.in {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation-name: slideinfromright;
  transform: translateX(0);
  animation-name: slideinfromright;
}
.slide.out.reverse {
  -webkit-transform: translate3d(100%, 0, 0);
  -webkit-animation-name: slideouttoright;
  transform: translateX(100%);
  animation-name: slideouttoright;
}
.slide.in.reverse {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation-name: slideinfromleft;
  transform: translateX(0);
  animation-name: slideinfromleft;
}
.slidefade.out {
  -webkit-transform: translateX(-100%);
  -webkit-animation-name: slideouttoleft;
  -webkit-animation-duration: 225ms;
  transform: translateX(-100%);
  animation-name: slideouttoleft;
  animation-duration: 225ms;
}
.slidefade.in {
  -webkit-transform: translateX(0);
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 200ms;
  transform: translateX(0);
  animation-name: fadein;
  animation-duration: 200ms;
}
.slidefade.out.reverse {
  -webkit-transform: translateX(100%);
  -webkit-animation-name: slideouttoright;
  -webkit-animation-duration: 200ms;
  transform: translateX(100%);
  animation-name: slideouttoright;
  animation-duration: 200ms;
}
.slidefade.in.reverse {
  -webkit-transform: translateX(0);
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 200ms;
  transform: translateX(0);
  animation-name: fadein;
  animation-duration: 200ms;
}
/* slide down */
.slidedown.out {
  -webkit-animation-name: fadeout;
  -webkit-animation-duration: 100ms;
  animation-name: fadeout;
  animation-duration: 100ms;
}
.slidedown.in {
  -webkit-transform: translateY(0);
  -webkit-animation-name: slideinfromtop;
  -webkit-animation-duration: 250ms;
  transform: translateY(0);
  animation-name: slideinfromtop;
  animation-duration: 250ms;
}
.slidedown.in.reverse {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 150ms;
  animation-name: fadein;
  animation-duration: 150ms;
}
.slidedown.out.reverse {
  -webkit-transform: translateY(-100%);
  -webkit-animation-name: slideouttotop;
  -webkit-animation-duration: 200ms;
  transform: translateY(-100%);
  animation-name: slideouttotop;
  animation-duration: 200ms;
}
@-webkit-keyframes slideinfromtop {
  from {
    -webkit-transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
@keyframes slideinfromtop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideouttotop {
  from {
    -webkit-transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}
@keyframes slideouttotop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
/* slide up */
.slideup.out {
  -webkit-animation-name: fadeout;
  -webkit-animation-duration: 100ms;
  animation-name: fadeout;
  animation-duration: 100ms;
}
.slideup.in {
  -webkit-transform: translateY(0);
  -webkit-animation-name: slideinfrombottom;
  -webkit-animation-duration: 250ms;
  transform: translateY(0);
  animation-name: slideinfrombottom;
  animation-duration: 250ms;
}
.slideup.in.reverse {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 150ms;
  animation-name: fadein;
  animation-duration: 150ms;
}
.slideup.out.reverse {
  -webkit-transform: translateY(100%);
  -webkit-animation-name: slideouttobottom;
  -webkit-animation-duration: 200ms;
  transform: translateY(100%);
  animation-name: slideouttobottom;
  animation-duration: 200ms;
}
@-webkit-keyframes slideinfrombottom {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
@keyframes slideinfrombottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideouttobottom {
  from {
    -webkit-transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(100%);
  }
}
@keyframes slideouttobottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */
.viewport-flip {
  -webkit-perspective: 1000;
  perspective: 1000;
  position: absolute;
}
.flip {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0);
  /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
  backface-visibility: hidden;
  transform: translateX(0);
}
.flip.out {
  -webkit-transform: rotateY(-90deg) scale(0.9);
  -webkit-animation-name: flipouttoleft;
  -webkit-animation-duration: 175ms;
  transform: rotateY(-90deg) scale(0.9);
  animation-name: flipouttoleft;
  animation-duration: 175ms;
}
.flip.in {
  -webkit-animation-name: flipintoright;
  -webkit-animation-duration: 225ms;
  animation-name: flipintoright;
  animation-duration: 225ms;
}
.flip.out.reverse {
  -webkit-transform: rotateY(90deg) scale(0.9);
  -webkit-animation-name: flipouttoright;
  transform: rotateY(90deg) scale(0.9);
  animation-name: flipouttoright;
}
.flip.in.reverse {
  -webkit-animation-name: flipintoleft;
  animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-90deg) scale(0.9);
  }
}
@keyframes flipouttoleft {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-90deg) scale(0.9);
  }
}
@-webkit-keyframes flipouttoright {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(90deg) scale(0.9);
  }
}
@keyframes flipouttoright {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(90deg) scale(0.9);
  }
}
@-webkit-keyframes flipintoleft {
  from {
    -webkit-transform: rotateY(-90deg) scale(0.9);
  }
  to {
    -webkit-transform: rotateY(0);
  }
}
@keyframes flipintoleft {
  from {
    transform: rotateY(-90deg) scale(0.9);
  }
  to {
    transform: rotateY(0);
  }
}
@-webkit-keyframes flipintoright {
  from {
    -webkit-transform: rotateY(90deg) scale(0.9);
  }
  to {
    -webkit-transform: rotateY(0);
  }
}
@keyframes flipintoright {
  from {
    transform: rotateY(90deg) scale(0.9);
  }
  to {
    transform: rotateY(0);
  }
}
/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */
.viewport-turn {
  -webkit-perspective: 200px;
  perspective: 200px;
  position: absolute;
}
.turn {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0);
  /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
  -webkit-transform-origin: 0;
  backface-visibility: hidden;
  transform: translateX(0);
  transform-origin: 0;
}
.turn.out {
  -webkit-transform: rotateY(-90deg) scale(0.9);
  -webkit-animation-name: flipouttoleft;
  -webkit-animation-duration: 125ms;
  transform: rotateY(-90deg) scale(0.9);
  animation-name: flipouttoleft;
  animation-duration: 125ms;
}
.turn.in {
  -webkit-animation-name: flipintoright;
  -webkit-animation-duration: 250ms;
  animation-name: flipintoright;
  animation-duration: 250ms;
}
.turn.out.reverse {
  -webkit-transform: rotateY(90deg) scale(0.9);
  -webkit-animation-name: flipouttoright;
  transform: rotateY(90deg) scale(0.9);
  animation-name: flipouttoright;
}
.turn.in.reverse {
  -webkit-animation-name: flipintoleft;
  animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-90deg) scale(0.9);
  }
}
@keyframes flipouttoleft {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-90deg) scale(0.9);
  }
}
@-webkit-keyframes flipouttoright {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(90deg) scale(0.9);
  }
}
@keyframes flipouttoright {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(90deg) scale(0.9);
  }
}
@-webkit-keyframes flipintoleft {
  from {
    -webkit-transform: rotateY(-90deg) scale(0.9);
  }
  to {
    -webkit-transform: rotateY(0);
  }
}
@keyframes flipintoleft {
  from {
    transform: rotateY(-90deg) scale(0.9);
  }
  to {
    transform: rotateY(0);
  }
}
@-webkit-keyframes flipintoright {
  from {
    -webkit-transform: rotateY(90deg) scale(0.9);
  }
  to {
    -webkit-transform: rotateY(0);
  }
}
@keyframes flipintoright {
  from {
    transform: rotateY(90deg) scale(0.9);
  }
  to {
    transform: rotateY(0);
  }
}
/* flow transition */
.flow {
  -webkit-transform-origin: 50% 30%;
  transform-origin: 50% 30%;
}
.flow.out {
  -webkit-transform: translateX(-100%) scale(0.7);
  -webkit-animation-name: flowouttoleft;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 350ms;
  transform: translateX(-100%) scale(0.7);
  animation-name: flowouttoleft;
  animation-timing-function: ease;
  animation-duration: 350ms;
}
.flow.in {
  -webkit-transform: translateX(0) scale(1);
  -webkit-animation-name: flowinfromright;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 350ms;
  transform: translateX(0) scale(1);
  animation-name: flowinfromright;
  animation-timing-function: ease;
  animation-duration: 350ms;
}
.flow.out.reverse {
  -webkit-transform: translateX(100%);
  -webkit-animation-name: flowouttoright;
  transform: translateX(100%);
  animation-name: flowouttoright;
}
.flow.in.reverse {
  -webkit-animation-name: flowinfromleft;
  animation-name: flowinfromleft;
}
@-webkit-keyframes flowouttoleft {
  0% {
    -webkit-transform: translateX(0) scale(1);
  }
  60%,
  70% {
    -webkit-transform: translateX(0) scale(0.7);
  }
  100% {
    -webkit-transform: translateX(-100%) scale(0.7);
  }
}
@keyframes flowouttoleft {
  0% {
    transform: translateX(0) scale(1);
  }
  60%,
  70% {
    transform: translateX(0) scale(0.7);
  }
  100% {
    transform: translateX(-100%) scale(0.7);
  }
}
@-webkit-keyframes flowouttoright {
  0% {
    -webkit-transform: translateX(0) scale(1);
  }
  60%,
  70% {
    -webkit-transform: translateX(0) scale(0.7);
  }
  100% {
    -webkit-transform: translateX(100%) scale(0.7);
  }
}
@keyframes flowouttoright {
  0% {
    transform: translateX(0) scale(1);
  }
  60%,
  70% {
    transform: translateX(0) scale(0.7);
  }
  100% {
    transform: translateX(100%) scale(0.7);
  }
}
@-webkit-keyframes flowinfromleft {
  0% {
    -webkit-transform: translateX(-100%) scale(0.7);
  }
  30%,
  40% {
    -webkit-transform: translateX(0) scale(0.7);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
  }
}
@keyframes flowinfromleft {
  0% {
    transform: translateX(-100%) scale(0.7);
  }
  30%,
  40% {
    transform: translateX(0) scale(0.7);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-webkit-keyframes flowinfromright {
  0% {
    -webkit-transform: translateX(100%) scale(0.7);
  }
  30%,
  40% {
    -webkit-transform: translateX(0) scale(0.7);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
  }
}
@keyframes flowinfromright {
  0% {
    transform: translateX(100%) scale(0.7);
  }
  30%,
  40% {
    transform: translateX(0) scale(0.7);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
body {
  font-size: 13px;
}
.mui-bar {
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 1;
  width: 100%;
}
.mui-bar-nav {
  top: 0px;
}
.mui-bar-tab {
  bottom: 0px;
}
.mui-bar-tab.fix-transition-bug {
  position: absolute;
}
.mui-bar-nav .mui-pull-left,
.mui-bar-nav .mui-pull-right {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px!important;
  margin: 0px!important;
  width: 36px;
  height: 44px;
  line-height: 44px;
  text-align: center;
}
.mui-bar-nav .mui-text.mui-pull-left,
.mui-bar-nav .mui-text.mui-pull-right {
  line-height: 44px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60px;
}
.mui-bar-nav .mui-icon.iconfont {
  font-size: 20px;
}
.mui-bar-nav .mui-pull-right {
  left: auto;
  right: 0px;
}
.mui-bar-nav .mui-icon.icon-ellipsis {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.mui-content-padded .mui-input-group .mui-input-row {
  min-height: 40px;
  height: auto;
}
.mui-content-padded .mui-input-group .mui-input-row:after {
  left: 0px;
}
.mui-content-padded .mui-input-group .mui-input-row label {
  padding: 11px 5px 11px 10px;
  width: 28%;
  line-height: 18px;
  font-size: 13px;
  color: #666;
}
.mui-content-padded .mui-input-group .mui-input-row label + input,
.mui-content-padded .mui-input-group .mui-input-row label + textarea,
.mui-content-padded .mui-input-group .mui-input-row label + select {
  padding: 10px 5px;
  width: 72%;
  line-height: 18px;
  float: left;
  height: 40px;
  font-size: 13px;
}
.mui-content-padded .mui-input-group .mui-input-row label + textarea {
  height: 80px;
}
.mui-content-padded .mui-input-group .mui-input-row label + span,
.mui-content-padded .mui-input-group .mui-input-row label + .mui-btn {
  float: left;
  padding: 11px 20px 11px 5px;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  width: 72%;
  min-height: 40px;
  white-space: normal;
  text-align: left;
}
.mui-content-padded .mui-btn-block {
  padding: 8px 0px;
  font-size: 14px;
}
.page {
  z-index: 1;
  background-color: transparent;
}
.page .mui-content {
  position: absolute;
  top: 44px;
  bottom: 50px;
  padding: 0px;
  width: 100%;
  overflow: auto;
}
.page.dashboard-list .mui-content .mui-table-title {
  position: relative;
  padding: 10px 40px 0px 14px;
  height: 40px;
  line-height: 20px;
  color: #6d6d72;
  font-size: 15px;
}
.page.dashboard-list .mui-content .mui-table-title .title-editor {
  position: relative;
  height: 26px;
}
.page.dashboard-list .mui-content .mui-table-title .title-editor input {
  display: block;
  margin: 0px;
  padding: 3px 0px;
  width: 100%;
  height: 26px;
  line-height: 20px;
  border: none;
  font-size: 15px;
  background-color: transparent;
  border-bottom: solid 1px transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.page.dashboard-list .mui-content .mui-table-title .title-editor input:focus {
  border-bottom: solid 1px #ccc;
}
.page.dashboard-list .mui-content .mui-table-title .mui-btn-add-task {
  position: absolute;
  top: 2px;
  right: 0px;
  padding: 0px;
  width: 35px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  color: #333;
  font-size: 24px;
}
.page.dashboard-list .mui-content .mui-table-title .mui-btn-add-task .iconfont {
  font-size: 24px;
}
.page.dashboard-list .mui-content .mui-table-view {
  font-size: 15px;
}
.page.dashboard-list .mui-content .mui-table-view-cell {
  padding-top: 9px;
  padding-bottom: 9px;
  color: #666;
}
.page.dashboard-stage .mui-content {
  padding-top: 8px;
}
.page.dashboard-stage .mui-content .mui-slider {
  position: relative;
  padding-bottom: 20px;
  height: 100%;
}
.page.dashboard-stage .mui-content .mui-slider .mui-slider-group,
.page.dashboard-stage .mui-content .mui-slider .mui-slider-item,
.page.dashboard-stage .mui-content .mui-slider .mui-card {
  position: relative;
  height: 100%;
}
.page.dashboard-stage .mui-content .mui-slider .mui-card {
  position: relative;
  padding: 8px 5px;
  margin: 0px 8px;
  padding-top: 32px;
}
.page.dashboard-stage .mui-content .mui-slider .mui-card .mui-table-title {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 10px;
  padding-right: 35px;
  width: 100%;
  height: 34px;
  font-size: 15px;
  background-color: #eeeeee;
  color: #333;
}
.page.dashboard-stage .mui-content .mui-slider .mui-card .mui-table-title .title-editor {
  position: relative;
  padding-top: 2px;
  height: 30px;
}
.page.dashboard-stage .mui-content .mui-slider .mui-card .mui-table-title .title-editor input {
  display: block;
  margin: 0px;
  padding: 4px 0px;
  width: 100%;
  height: 28px;
  line-height: 20px;
  border: none;
  font-size: 15px;
  background-color: transparent;
  border-bottom: solid 1px transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.page.dashboard-stage .mui-content .mui-slider .mui-card .mui-table-title .title-editor input:focus {
  border-bottom: solid 1px #ccc;
}
.page.dashboard-stage .mui-content .mui-slider .mui-card .mui-table-title .mui-btn-add-task {
  position: absolute;
  top: 2px;
  right: 0px;
  padding: 0px;
  width: 35px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  color: #333;
  font-size: 24px;
}
.page.dashboard-stage .mui-content .mui-slider .mui-card .mui-table-title .mui-btn-add-task .iconfont {
  font-size: 24px;
}
.page.dashboard-stage .mui-content .mui-slider .mui-card .mui-table-view {
  position: relative;
  margin-top: 6px;
  height: 99%;
  overflow: hidden;
  overflow-y: auto;
}
.page.dashboard-stage .mui-content .mui-slider .mui-card .mui-table-view-cell {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 5px;
  padding-right: 5px;
  color: #666;
}
.page.dashboard-stage .mui-content .mui-slider .mui-card .mui-table-view-cell:after {
  left: 5px;
  right: 5px;
}
.page.dashboard-stage .mui-content .mui-slider .mui-card .mui-table-view-cell > a:not(.mui-btn) {
  margin-right: -5px;
  margin-left: -5px;
}
.page.dashboard-stage .mui-content .mui-slider-indicator {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
.page.dashboard-stage .mui-content .mui-slider-indicator .mui-indicator {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.page.task-project .mui-content .mui-content-padded .mui-btn-block {
  margin-top: 30px;
}
.page.selector-user,
.page.selector-project {
  z-index: 2;
}
.page.selector-user .mui-content,
.page.selector-project .mui-content {
  bottom: 0px;
}
.page.selector-user .mui-content .mui-indexed-list-search .mui-placeholder .mui-icon-search + span,
.page.selector-project .mui-content .mui-indexed-list-search .mui-placeholder .mui-icon-search + span {
  font-size: 14px;
}
.page.selector-user .mui-content .mui-indexed-list,
.page.selector-project .mui-content .mui-indexed-list {
  height: 800px;
}
.page-inner {
  position: relative;
  z-index: 2;
  height: 100%;
}
.page-inner.task-info .mui-content {
  bottom: 0px;
}
.page-inner.task-info .mui-content .mui-content-padded .mui-input-group + .mui-input-group {
  margin-top: 10px;
}
.page-inner.task-info .mui-content .mui-content-padded .mui-btn-group {
  margin-top: 30px;
}
.page-inner.task-info .mui-content .mui-content-padded .mui-input-row.selector-row {
  position: relative;
}
.page-inner.task-info .mui-content .mui-content-padded .mui-input-row.selector-row:before {
  content: '\e583';
  position: absolute;
  top: 50%;
  right: 10px;
  display: inline-block;
  font-family: Muiicons;
  font-size: inherit;
  line-height: 1;
  color: #bbb;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.page-inner.task-index .mui-content {
  top: 44px;
  bottom: 50px;
}
.page-inner.task-index .mui-content .message-items {
  padding: 0px 10px;
  padding-bottom: 20px;
}
.page-inner.task-index .mui-content .message-items > li {
  position: relative;
  padding: 10px 0px;
  padding-left: 50px;
  padding-right: 15%;
}
.page-inner.task-index .mui-content .message-items > li .avatar {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.page-inner.task-index .mui-content .message-items > li .avatar img {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.page-inner.task-index .mui-content .message-items > li .message-attr {
  margin-top: -2px;
}
.page-inner.task-index .mui-content .message-items > li .message-attr cite,
.page-inner.task-index .mui-content .message-items > li .message-attr span {
  margin-right: 5px;
  color: #919191;
}
.page-inner.task-index .mui-content .message-items > li .message-attr cite {
  color: #4a94d3;
}
.page-inner.task-index .mui-content .message-items > li .message-content {
  position: relative;
  display: inline-block;
  margin-top: 2px;
  padding: 5px 10px;
  border: solid 1px #d7e7f5;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.page-inner.task-index .mui-content .message-items > li .message-content:before,
.page-inner.task-index .mui-content .message-items > li .message-content:after {
  content: '';
  position: absolute;
  top: 8px;
  left: -15px;
  width: 0px;
  overflow: hidden;
  border: solid 7px transparent;
  border-right-color: #d7e7f5;
}
.page-inner.task-index .mui-content .message-items > li .message-content:after {
  left: -14px;
  border-right-color: #fff;
}
.page-inner.task-index .mui-content .message-items > li .message-content .message-text {
  position: relative;
  color: #676767;
  font-size: 12px;
  line-height: 16px;
}
.page-inner.task-index .mui-content .message-items > li .message-content .message-attach {
  margin-top: 5px;
}
.page-inner.task-index .mui-content .message-items > li .message-content .message-attach .images-list {
  padding-top: 5px;
}
.page-inner.task-index .mui-content .message-items > li .message-content .message-attach .images-list li {
  float: left;
  width: 50%;
  padding-left: 0px;
  padding-right: 2px;
  margin-bottom: 4px;
  border-top: none;
}
.page-inner.task-index .mui-content .message-items > li .message-content .message-attach .images-list li a {
  display: block;
  padding: 0px;
  height: 80px;
  background-color: #f7f7f7;
}
.page-inner.task-index .mui-content .message-items > li .message-content .message-attach .images-list li:nth-of-type(2n+2) {
  padding-left: 2px;
  padding-right: 0px;
}
.page-inner.task-index .mui-content .message-items li.my {
  padding-right: 50px;
  padding-left: 15%;
  text-align: right;
}
.page-inner.task-index .mui-content .message-items li.my .avatar {
  left: auto;
  right: 0px;
}
.page-inner.task-index .mui-content .message-items li.my .message-attr {
  display: none;
}
.page-inner.task-index .mui-content .message-items li.my .message-content {
  margin-top: 0px;
}
.page-inner.task-index .mui-content .message-items li.my .message-content:before,
.page-inner.task-index .mui-content .message-items li.my .message-content:after {
  left: auto;
  right: -15px;
  border-right-color: transparent;
  border-left-color: #d7e7f5;
}
.page-inner.task-index .mui-content .message-items li.my .message-content:after {
  left: auto;
  right: -14px;
  border-right-color: transparent;
  border-left-color: #fff;
}
.page-inner.task-index .mui-content .message-items li.my .message-content .message-text {
  font-size: 12px;
  line-height: 15px;
}
.page-inner.task-index .mui-content .message-items li.my .message-content .message-text label + a {
  color: #328bd0;
}
.page-inner.task-index .mui-bar-tab .reply-message-container {
  position: relative;
  padding: 5px;
  padding-right: 60px;
}
.page-inner.task-index .mui-bar-tab .reply-message-container textarea {
  padding: 3px;
  margin: 0px;
  height: 40px;
  font-size: 12px;
  line-height: 15px;
}
.page-inner.task-index .mui-bar-tab .reply-message-container .mui-btn-reply {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px;
  width: 55px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.task-index .mui-content,
.task-details .mui-content,
.task-editor .mui-content {
  top: 0px;
  bottom: 0px;
}
.task-index .mui-content .mui-content-padded .mui-input-group + .mui-input-group,
.task-details .mui-content .mui-content-padded .mui-input-group + .mui-input-group,
.task-editor .mui-content .mui-content-padded .mui-input-group + .mui-input-group {
  margin-top: 10px;
}
.task-index .mui-content .mui-content-padded .mui-btn-group,
.task-details .mui-content .mui-content-padded .mui-btn-group,
.task-editor .mui-content .mui-content-padded .mui-btn-group {
  margin-top: 30px;
}
.task-index .mui-content .mui-content-padded .mui-input-row.selector-row,
.task-details .mui-content .mui-content-padded .mui-input-row.selector-row,
.task-editor .mui-content .mui-content-padded .mui-input-row.selector-row {
  position: relative;
}
.task-index .mui-content .mui-content-padded .mui-input-row.selector-row:before,
.task-details .mui-content .mui-content-padded .mui-input-row.selector-row:before,
.task-editor .mui-content .mui-content-padded .mui-input-row.selector-row:before {
  content: '\e583';
  position: absolute;
  top: 50%;
  right: 10px;
  display: inline-block;
  font-family: Muiicons;
  font-size: inherit;
  line-height: 1;
  color: #bbb;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.mui-popover.stage-popover,
.mui-popover.task-details-popover {
  width: 100px;
}
.mui-popover.stage-popover .mui-table-view,
.mui-popover.task-details-popover .mui-table-view {
  padding-top: 5px;
  padding-bottom: 5px;
}
.mui-popover.stage-popover .mui-table-view a,
.mui-popover.task-details-popover .mui-table-view a {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
}
