@charset "utf-8";
/* lib v2.0 */
html {
  color: #000;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0px;
  padding: 0px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-align: inherit;
}
fieldset,
img {
  border: none;
}
iframe {
  display: block;
}
abbr,
acronym {
  border: none;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul,
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ins,
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.clear {
  zoom: 1;
  /* for IE6 IE7 */
}
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.d-n {
  display: none;
}
/* css3 v1.0 */
body,
a,
input,
textarea,
button {
  font: 13px/1.5 tahoma, arial, '\5FAE\8F6F\96C5\9ED1', '\5b8b\4f53', sans-serif;
}
a:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
input,
textarea {
  color: #888;
}
::-webkit-input-placeholder {
  color: #CCC;
}
html {
  overflow-x: hidden;
}
.login {
  background-color: #F7F7F7;
  overflow: hidden;
}
.login .logo {
  padding: 30px 0px 20px 0px;
  text-align: center;
}
.login .login-form {
  margin: 0px auto;
  width: 90%;
}
.login .login-form .user-name,
.login .login-form .user-pwd {
  padding-left: 40px;
  height: 40px;
  border: solid 1px #DDDDDD;
  background-color: #FFFFFF;
  background-image: url('../images/bg-login.png');
  background-position: left -0px;
  background-repeat: no-repeat;
  background-size: 30px;
  -webkit-border-radius: 5px 5px 0px 0px;;
  -moz-border-radius: 5px 5px 0px 0px;;
  border-radius: 5px 5px 0px 0px;;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.login .login-form .user-name .text,
.login .login-form .user-pwd .text {
  width: 96%;
  height: 40px;
  border: none;
}
.login .login-form .user-pwd {
  border-top: none;
  background-image: url('../images/bg-login.png');
  background-position: left -45px;
  -webkit-border-radius: 0px 0px 5px 5px;;
  -moz-border-radius: 0px 0px 5px 5px;;
  border-radius: 0px 0px 5px 5px;;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.login .login-form .user-button {
  margin-top: 25px;
}
.login .login-form .user-button .button {
  width: 100%;
  height: 40px;
  background-color: #2C8AD3;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.login .login-form .user-forgetpwd {
  margin-top: 25px;
  text-align: right;
}
.login .login-form .user-forgetpwd a {
  font-size: 14px;
  color: #2C8AD3;
}
@media screen and (max-width: 1024px) {
  .login .logo img {
    width: 200px;
    height: 47px;
  }
}
@media screen and (min-width: 1024px) {
  .login .logo img {
    width: 300px;
    height: 70px;
  }
}
.main {
  overflow: hidden;
}
.side-menu {
  position: fixed;
  top: 0px;
  left: -62.5%;
  z-index: 2;
  width: 62.5%;
  height: 500px;
  background-color: #324554;
  overflow: hidden;
}
.side-menu .user-info {
  padding-top: 15px;
  height: 71px;
  color: #fff;
}
.side-menu .user-info .avatar {
  display: inline-block;
  margin-left: 12px;
  width: 50px;
  height: 50px;
  border: solid 3px #707D88;
  vertical-align: top;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.side-menu .user-info .avatar img {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.side-menu .user-info .user-details {
  display: inline-block;
  padding-top: 10px;
  margin-left: 8px;
  line-height: 18px;
}
.side-menu .user-info .user-details span {
  display: block;
  font-size: 14px;
}
.side-menu .user-info .user-details cite {
  font-size: 12px;
}
.side-menu .menu-list li {
  height: 45px;
}
.side-menu .menu-list li a {
  position: relative;
  display: block;
  height: 45px;
  line-height: 45px;
  text-indent: 60px;
  color: #fff;
  font-size: 14px;
  border-bottom: solid 1px #475865;
  -webkit-transition: -webkit-all 0.3s linear;
  -moz-transition: -moz-all 0.3s linear;
  -ms-transition: -ms-all 0.3s linear;
  -o-transition: -o-all 0.3s linear;
  transition: all 0.3s linear;
}
.side-menu .menu-list li a:before {
  position: absolute;
  content: ' ';
  top: 13px;
  left: 20px;
  width: 30px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 30px;
}
.side-menu .menu-list li a i {
  position: absolute;
  top: 12px;
  right: 10px;
  padding: 0px 8px;
  text-indent: 0px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #2C8AD3;
  font-style: normal;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.side-menu .menu-list li a:hover,
.side-menu .menu-list li a.selected {
  height: 46px;
  background-color: #172A39;
  border-left: solid 4px #2C8AD3;
  border-bottom: none;
}
.side-menu .menu-list li .my-expense:before {
  background-image: url('../images/bg-side-menu.png');
  background-position: left -0px;
  background-position: 0px 0px;
}
.side-menu .menu-list li .business-transaction:before {
  background-image: url('../images/bg-side-menu.png');
  background-position: left -48px;
  background-position: 0px -20px;
}
.side-menu .menu-list li .bill-sign:before {
  background-image: url('../images/bg-side-menu.png');
  background-position: left -96px;
  background-position: 0px -40px;
}
.side-menu .menu-list li .bill-payment:before {
  background-image: url('../images/bg-side-menu.png');
  background-position: left -144px;
  background-position: 0px -60px;
}
.side-menu .menu-list li .system-setting:before {
  background-image: url('../images/bg-side-menu.png');
  background-position: left -192px;
  background-position: 0px -80px;
}
.hd {
  height: 40px;
}
.hd .hd-fixed {
  position: fixed;
  top: 0px;
  left: 0%;
  z-index: 1;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: #2C8AD3;
}
.hd .hd-fixed .left-link,
.hd .hd-fixed .right-link {
  position: relative;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 20px;
}
.hd .hd-fixed .left-link:before,
.hd .hd-fixed .right-link:before {
  content: ' ';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 21.6px;
  height: 21.6px;
  background-size: 21.6px;
}
.hd .hd-fixed .left-link {
  float: left;
}
.hd .hd-fixed .right-link {
  float: right;
}
.hd .hd-fixed .left-link.menu:before {
  background-image: url('../images/bg-hd-link.png');
  background-position: left -0px;
  background-position: 0px 0px;
}
.hd .hd-fixed .right-link.refresh:before {
  background-image: url('../images/bg-hd-link.png');
  background-position: left -36px;
  background-position: 0px -21.6px;
}
.hd .hd-fixed .right-link.create:before {
  background-image: url('../images/bg-hd-link.png');
  background-position: left -72px;
  background-position: 0px -43.2px;
}
.hd .hd-fixed .left-link.back:before {
  background-image: url('../images/bg-hd-link.png');
  background-position: left -108px;
  background-position: 0px -64.80000000000001px;
}
.index {
  background-color: #FFFFFF;
}
.index .content .user-info {
  position: relative;
  padding: 10px 0px 10px 20px;
  height: 45px;
  background-image: url('../images/bg-index.png');
  background-position: left -0px;
  background-size: 100%;
  color: #fff;
}
.index .content .user-info .user-details {
  height: 25px;
  font-size: 12px;
}
.index .content .user-info .user-details label {
  margin-right: 8px;
  font-size: 16px;
}
.index .content .user-info .finance-details {
  font-size: 16px;
}
.index .content .user-info .finance-details span {
  margin-left: 10px;
}
.index .content .user-info .finance-details span label {
  margin-right: 8px;
  font-size: 12px;
}
.index .content .user-info .finance-details span:first-child {
  margin-left: 0px;
}
.index .content .user-info .link-details {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 65px;
  background-image: url('../images/bg-index.png');
  background-position: left -150px;
  background-repeat: no-repeat;
}
.index .content .often-links {
  height: 50px;
  background-color: #324554;
}
.index .content .often-links li {
  float: left;
  width: 50%;
  height: 50px;
}
.index .content .often-links li a {
  position: relative;
  display: block;
  height: 100%;
  line-height: 50px;
  text-indent: 85px;
  color: #fff;
  font-size: 16px;
}
.index .content .often-links li a:before {
  position: absolute;
  content: ' ';
  top: 14px;
  left: 40px;
  width: 36px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 36px;
}
.index .content .often-links li .expense:before {
  background-image: url('../images/bg-index-often-links-approve.png');
  background-position: left -0px;
  background-position: 0px 0px;
}
.index .content .often-links li .approve:before {
  background-image: url('../images/bg-index-often-links-approve.png');
  background-position: left -48px;
  background-position: 0px -24px;
}
.index .content .function-list {
  padding-bottom: 30px;
  border-left: solid 1px #DDD;
}
.index .content .function-list li {
  float: left;
  width: 33%;
  height: 106px;
}
.index .content .function-list li a {
  position: relative;
  display: block;
  height: 100%;
  border: solid 1px #DDD;
  border-top: none;
  border-left: 0px;
  text-align: center;
}
.index .content .function-list li a:before {
  content: ' ';
  display: inline-block;
  margin: 30px auto 0px auto;
  width: 54px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: 54px;
}
.index .content .function-list li a b {
  position: absolute;
  bottom: 12px;
  left: 0px;
  width: 100%;
  font-size: 14px;
  color: #7F7F7F;
  font-weight: 500;
}
.index .content .function-list li .my-expense:before {
  background-image: url('../images/bg-index-function-list.png');
  background-position: left -0px;
  background-position: 0px 0px;
}
.index .content .function-list li .bill-sign:before {
  background-image: url('../images/bg-index-function-list.png');
  background-position: left -48px;
  background-position: 0px -36px;
}
.index .content .function-list li .bill-payment:before {
  background-image: url('../images/bg-index-function-list.png');
  background-position: left -96px;
  background-position: 0px -72px;
}
.index .content .function-list li .report-statistic:before {
  background-image: url('../images/bg-index-function-list.png');
  background-position: left -144px;
  background-position: 0px -108px;
}
.index .content .function-list li .bill-statistic:before {
  background-image: url('../images/bg-index-function-list.png');
  background-position: left -192px;
  background-position: 0px -144px;
}
.index .content .function-list li .borrowing-status:before {
  background-image: url('../images/bg-index-function-list.png');
  background-position: left -240px;
  background-position: 0px -180px;
}
.index .content .function-list li .system-setting:before {
  background-image: url('../images/bg-index-function-list.png');
  background-position: left -288px;
  background-position: 0px -216px;
}
.index .content .function-list li:nth-of-type(3n+1) {
  width: 34%;
}
.bill-details {
  padding-bottom: 10px;
  background-color: #F7F7F7;
}
.bill-details .content .bill-overview {
  padding: 20px 12px 0px 20px;
  height: 70px;
}
.bill-details .content .bill-overview h1 {
  line-height: 24px;
  font-size: 18px;
  color: #000;
  letter-spacing: 1px;
  font-weight: 500;
}
.bill-details .content .bill-overview .amount {
  color: #000;
  font-size: 14px;
}
.bill-details .content .bill-overview .amount b {
  margin-left: 10px;
  font-size: 18px;
  color: #F37815;
}
.bill-details .content .bill-overview .date {
  float: right;
  line-height: 24px;
  color: #999;
  font-style: normal;
}
.bill-details .content .bill-overview .cate {
  position: relative;
  float: left;
  margin-top: 3px;
  margin-right: 15px;
  width: 45px;
  height: 45px;
  background-color: #2C8AD3;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.bill-details .content .bill-overview .cate:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9.6px 0px 0px -14.4px;
  width: 28.8px;
  height: 19.2px;
  background-repeat: no-repeat;
  background-size: 28.8px;
}
.bill-details .content .bill-overview .cate.everyday:before {
  background-image: url('../images/bg-bill-type.png');
  background-position: left -0px;
  background-position: 0px 0px;
}
.bill-details .content h2 {
  line-height: 25px;
  font-size: 14px;
  text-indent: 10px;
  color: #888;
  font-weight: 500;
  background-color: #EEE;
  border-left-style: solid;
  border-left-width: 3px;
}
.bill-details .content h2 b {
  float: right;
  margin-right: 12px;
  line-height: 25px;
  font-weight: 500;
  color: #F37815;
}
.bill-details .content .base-info h2 {
  border-left-color: #2C8AD3;
}
.bill-details .content .base-info .base-info-details {
  padding: 10px 0px;
  border-left: solid 3px #91C0E5;
}
.bill-details .content .base-info .form-grid {
  width: 100%;
  border-collapse: collapse;
}
.bill-details .content .base-info .form-grid th {
  width: 80px;
  text-indent: 12px;
  color: #999;
}
.bill-details .content .base-info .form-grid td {
  height: 24px;
  color: #000;
}
.bill-details .content .details-total h2 {
  border-left-color: #31B5AD;
}
.bill-details .content .details-total .details-list {
  border-left: solid 3px #94D6D2;
}
.bill-details .content .details-total .details-list li {
  position: relative;
  padding: 5px 0px 8px 80px;
  min-height: 45px;
  border-bottom: solid 1px #CCC;
}
.bill-details .content .details-total .details-list li .screenage {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 50px;
  height: 37.5px;
}
.bill-details .content .details-total .details-list li .screenage img {
  width: 50px;
  height: 37.5px;
  vertical-align: top;
}
.bill-details .content .details-total .details-list li .details {
  width: 100%;
}
.bill-details .content .details-total .details-list li .details h3 {
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  color: #000;
}
.bill-details .content .details-total .details-list li .details h3 b {
  float: right;
  margin-right: 12px;
  line-height: 25px;
  font-weight: 500;
  color: #F37815;
}
.bill-details .content .details-total .details-list li .details .date {
  line-height: 20px;
  height: 20px;
  color: #999;
}
.bill-details .content .details-total .details-list li .details .date span {
  float: left;
  width: 160px;
}
.bill-details .content .details-total .details-list li .details .date cite {
  float: right;
  margin-right: 10px;
  width: 60px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bill-details .content .details-total .details-list li .details .remark {
  margin-top: 3px;
  line-height: 18px;
  color: #999;
}
.bill-details .content .borrowing-bill h2 {
  border-left-color: #63C532;
}
.bill-details .content .borrowing-bill .details-list {
  border-left: solid 3px #94D6D2;
  border-left: solid 3px #ADDE94;
}
.bill-details .content .borrowing-bill .details-list li {
  position: relative;
  padding: 5px 0px 8px 80px;
  min-height: 45px;
  border-bottom: solid 1px #CCC;
}
.bill-details .content .borrowing-bill .details-list li .screenage {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 50px;
  height: 37.5px;
}
.bill-details .content .borrowing-bill .details-list li .screenage img {
  width: 50px;
  height: 37.5px;
  vertical-align: top;
}
.bill-details .content .borrowing-bill .details-list li .details {
  width: 100%;
}
.bill-details .content .borrowing-bill .details-list li .details h3 {
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  color: #000;
}
.bill-details .content .borrowing-bill .details-list li .details h3 b {
  float: right;
  margin-right: 12px;
  line-height: 25px;
  font-weight: 500;
  color: #F37815;
}
.bill-details .content .borrowing-bill .details-list li .details .date {
  line-height: 20px;
  height: 20px;
  color: #999;
}
.bill-details .content .borrowing-bill .details-list li .details .date span {
  float: left;
  width: 160px;
}
.bill-details .content .borrowing-bill .details-list li .details .date cite {
  float: right;
  margin-right: 10px;
  width: 60px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bill-details .content .borrowing-bill .details-list li .details .remark {
  margin-top: 3px;
  line-height: 18px;
  color: #999;
}
.bill-details .content .borrowing-bill .details-list li {
  padding-left: 10px;
}
.bill-details .content .attachment {
  padding: 8px 0px;
  margin: 0px auto;
  width: 90%;
}
.bill-details .content .attachment .button {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #888;
  font-size: 14px;
  border: solid 1px #DDD;
  background-color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.bill-details .content .attachment .button:before {
  content: ' ';
  display: inline-block;
  margin-right: 5px;
  width: 18px;
  height: 18px;
  background-image: url('../images/bg-button-attachment.png');
  background-position: left -0px;
  background-size: 18px;
  vertical-align: middle;
}
.bill-details .content .new-status {
  height: 45px;
}
.bill-details .content .new-status .new-status-fixed {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: #fff;
  border: solid 1px #ddd;
  color: #000;
  font-size: 16px;
  text-indent: 38px;
}
.bill-details .content .new-status .new-status-fixed:before {
  content: ' ';
  position: absolute;
  top: 0px;
  left: 12px;
  width: 20px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: 15px;
}
.bill-details .content .new-status .new-status-fixed:after {
  content: ' ';
  float: right;
  margin: 16px 12px 0px 0px;
  width: 8px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url('../images/bg-process-details.png');
  background-position: left -0px;
  background-size: 8px;
}
.bill-details .content .new-status .new-status-fixed.process-start:before {
  background-image: url('..//images/process-status/process-status-start.png');
  background-position: 0px -6px;
}
.bill-details .content .new-status .new-status-fixed.process-back:before {
  background-image: url('..//images/process-status/process-status-back.png');
  background-position: 0px -6px;
}
.bill-details .content .new-status .new-status-fixed.process-deny:before {
  background-image: url('..//images/process-status/process-status-deny.png');
  background-position: 0px -6px;
}
.bill-details .content .new-status .new-status-fixed.process-pass:before {
  background-image: url('..//images/process-status/process-status-pass.png');
  background-position: 0px -6px;
}
.bill-details .content .new-status .new-status-fixed.process-pending:before {
  background-image: url('..//images/process-status/process-status-pending.gif');
  background-position: 0px -6px;
}
.bill-details .content .new-status .new-status-fixed.process-waiting:before {
  background-image: url('..//images/process-status/process-status-waiting.png');
  background-position: 0px -6px;
}
